---
import Container from '@/components/ui/container.astro'
import Section from '@/components/ui/section.astro'
import MainLayout from '@/layouts/main.astro'

export const prerender = true

const title = '{{pageTitle}}'
const description = 'TODO: real description for the /{{pagePath}} page.'
---

<MainLayout {title} {description}>
  <Section>
    <Container>
      <h1 class="text-4xl font-bold tracking-tight text-foreground">{title}</h1>
    </Container>
  </Section>
</MainLayout>
